{% extends "base.html" %}

{% block css %}
    {% include 'subsite-css.html' %}
    <style>
            #link-Chatter{
                border-top: 1px solid #1BB3E9;
            }    
    </style>
{% endblock %}

{% block content %}
<article>
    <h2>Chatter</h2>
    <!--blockquote>
        “...Espresso很苦啊，应该怎么喝？”<br /><br />
        “抱歉，我都是早上就着两个包子喝的。”
    </blockquote-->
    <p>{% lorem %}</p>
</article>
<!-- LiveRe City install code -->
<div id="lv-container" data-id="city" data-uid="MTAyMC8zMTIyNy83Nzc2">
		<script type="text/javascript">
   (function(d, s) {
	          var j, e = d.getElementsByTagName(s)[0];

		         if (typeof LivereTower === 'function') { return; }

			        j = d.createElement(s);
				       j.src = 'https://cdn-city.livere.com/js/embed.dist.js';
				              j.async = true;

					             e.parentNode.insertBefore(j, e);
						        })(document, 'script');
	</script>
	<noscript> Please activate JavaScript for write a comment in LiveRe</noscript>
</div>
<!-- completed City install code -->
{% endblock %}

