<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
<div class="container">
    <a class="navbar-brand" href="{% url 'index' %}">REDIM'S BLOG</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    Menu
    <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a id="link-Blog" class="nav-link" href="{% url 'index' %}">Blog</a>
        </li>
        <li class="nav-item">
            <a id="link-Chatter" class="nav-link" href="{% url 'chatter' %}">Chatter</a>
        </li>
        <li class="nav-item">
            <a id="link-Pastime" class="nav-link" href="{% url 'pastime' %}">Pastime</a>
        </li>
        <li class="nav-item">
            <a id="link-FM" class="nav-link" href="{% url 'FM' %}">FM</a>
        </li>
    </ul>
    </div>
</div>
</nav>

<!-- header -->
<header class="masthead">
    <div class="site-heading"></div>
</header>

