{% extends "base.html" %}
{% load markdown_deux_tags%}

{% block css %}
{% include 'subsite-css.html' %}
<style>
#link-Blog{
    border-top: 1px solid #1BB3E9;
}    
</style>
{% endblock %}

{% block content %}
<article>
    {% include 'post-title.html' %}
    <p>{{ post.body | markdown }}</p> 
</article>
<div id="disqus_thread"></div>
<script>
var disqus_config = function () {
this.page.url = "{% url 'post' post.slug %}";  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = "{{ post.slug }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://redimblog.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endblock %}

